{% extends 'layouts/base.html' %} {% block title %} productos {% endblock %} {%
    block content %}
    <div class="title-page">
      <h1>Listado de productos</h1>
      <a class="btn btn-success" href="{{ url_for('crear_producto') }}">Crear</a>
    </div>
    
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Categoria</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for i in producto %}
        <tr>
          <td>{{ i[0] }}</td>
          <td>{{ i[1] }}</td>
          <td>{{ i[2] }}</td>
          <td>{{ i[3] }}</td>
          <td>
            <a class="btn btn-success" href="{{ url_for('actualizar_producto', num=i[0])}}">Editar</a>
            <a class="btn btn-danger" href="{{ url_for('borrar_producto', num=i[0])}}">Eliminar</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endblock %}
    
      